.body {
	height: 100%;
	float: center;
	margin: 0;
    padding: 0;
    color: black;
    font-family: 'Fjalla One', sans-serif;
}

.header {
	text-align: center;
	font-family: 'League Script', cursive;
	font-size: 30pt;
	padding: 10px;
	margin-top: 1em;
	margin-bottom: 1em;
}

#menu ul {
	list-style-type: none;
	list-style-position: inside;
	float: left;
}

#menu li>a {
	color: black;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.7;
    text-decoration: none;
    cursor: pointer;
    padding-right: 0.5em;
	padding-left: 0.5em;
	margin: 0.15em;

}

/*.body a {
	color: #37a081;
    text-decoration: underline;
}*/
   

li.item {
	color: black;
	text-decoration: none;
	text-align: left;
	color: black;
}

#menu li>a:hover {
	text-decoration: none;
	background-color: #99D2CD;
	margin: 0.15em;
}

#menu li>a:active {
	text-decoration: none;
	background-color: #99D2CD;
	margin: 0.15em;
}

/*.item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}*/

/*.container-fluid {
	width: 50%;
}*/

/* ---------------START PAGE-------------------- */


.container.video {
	width: 70%;
	align-content: center;
	display: block;
	
}



.footer {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 0.5em;
	position: absolute;
	width: 100%;
}

/* ---------------ABOUT PAGE-------------------- */


.container.profile {
	width: 40%;
	margin-bottom: 3em;
}

.img-circle {
	display: block;
	margin: 0 auto;
}

.container.about.text {
	width: 40%;
	align-content: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12pt;
}

p.container {
	text-align: left;

}
/* ---------------GALLERY-------------------- */

.container.gallery {
	align-content: center;
	width: 70%;	
}

.row {
	margin-bottom: 1em;
}

